<html>
<body>

<div id="content">

    <ul id="list"></ul>

</div>

<script type="text/template" id="employee-list-item-tpl">
    <a href="#employees/<%= id %>"><%= firstName %> <%= lastName %></a>
</script>

<script type="text/javascript" src="lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="lib/underscore-min.js"></script>
<script type="text/javascript" src="lib/backbone-min.js"></script>
<script type="text/javascript" src="js/employee-model.js"></script>
<script type="text/javascript" src="js/employee-collection.js"></script>
<script type="text/javascript" src="js/employee-list-view.js"></script>

<script type="text/javascript">

    list = new EmployeeCollection();

    view = new EmployeeListView({model: list, el: "#list"});

    list.fetch();

</script>

</body>
</html>